<ion-header>
  <ion-toolbar color="danger">

    <ion-buttons slot="start">
      
        <ion-icon name="arrow-back" style="font-size: 30px;" routerLink="/menu"></ion-icon>
    </ion-buttons>
    
    <ion-title>Reporte</ion-title>

    <ion-buttons slot="end">
      
        <ion-icon name="menu" style="font-size:30px;"></ion-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
   
   <ion-grid>  

      <ion-row>
          <ion-col col-6>
            <label><h3>Tomar foto :</h3></label>
            <ion-card class="ion-text-center" (click)="tomarFoto()">
                  
              <ion-icon name="image"></ion-icon>
                   <img [src]="capturedSnapURL" *ngIf="capturedSnapURL" width="100" height="200"/>
               
            </ion-card>
   
          </ion-col>
        </ion-row>
        <ion-item>
            <ion-label>CATEGORIA </ion-label>
            <ion-select interface="popover" [(ngModel)]="reportcategoria" >
              <ion-select-option value="Robo">Robo</ion-select-option>
              <ion-select-option value="Asalto">Asalto</ion-select-option>
              <ion-select-option value="Pelea callejera">Pelea callejera</ion-select-option>
              <ion-select-option value="Violencia familiar">Violencia familiar</ion-select-option>
              <ion-select-option value="Incendio">Incendio</ion-select-option>
              <ion-select-option value="Otros">Otros</ion-select-option>
            </ion-select>
          </ion-item>
  

     <ion-row>
       <ion-col col-6>
         <label><h3>Descripción :</h3></label>
         <ion-card>
            
                <ion-textarea rows="6" cols="20" placeholder="Ingresa una Descripción." [(ngModel)]="reportdescripcion"></ion-textarea>
            
         </ion-card>

       </ion-col>
     </ion-row>

     
      <ion-button expand="full" (click)="CreateRecord()" [disabled]="!reportcategoria || !reportdescripcion ">Enviar</ion-button>

    
   </ion-grid>

   

    


</ion-content>
