 
<ion-header >
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
          
            <ion-icon name="arrow-back" style="font-size: 30px;" routerLink="/menu"></ion-icon>
        </ion-buttons>
        
        <ion-title>Estadisticas</ion-title>
  
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
     <ion-card>        
      <canvas id="pie-chart"></canvas>
    </ion-card> 

    <ion-card>        
        <canvas id="bar-chart"></canvas>
      </ion-card> 

      
    
    
  </ion-content>
