<ion-content padding center text-center>
  
  <ion-img src="assets/img/sirena.png"></ion-img>
  <ion-list>
    <form action="">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input></ion-input>     

      </ion-item>
      <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input ></ion-input>  
        </ion-item>
        <div padding>
            
            <ion-button shape="round" fill="outline" routerLink="/menu">INGRESAR </ion-button>
            

        </div>

        <div> 
            <ion-button shape="round" fill="outline" routerLink="/registro" >REGISTRARME </ion-button>
        </div>
      
    </form>
  </ion-list>

</ion-content>